@import url(./card.css);
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    /* Paleta de cores */
    --Color1-hex : #ECDBAD;
    --Color2-hex : #C15143;
    --Color3-hex : #4B402A;
    --Color4-hex : #92B359;
    --Color5-hex : #F1FACF;
    --black: #1f1f1f;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background:linear-gradient(90deg,#ecdbad3f 89%, #4b402a 89%, #4b402a 90%, #C15143 90%, #C15143 92%, #4b402a 92%, #4b402a 93%, #ecdbad3f 93%);
    color: var(--black);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
}

main {
    width: 80vw;
    height: 80vh;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.search-container {
    height: 60%;
    width: 80%;
    margin: 0 auto;
    position: relative;
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;

    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;
}

.search-container > img {
    margin-top: 10%;
}

.search-container > .search-bar{
    width: 100%;
    position: relative;
}

.search-bar > #input-search {
    width: 80%;
    height: 48px;
    padding: 0 8% 0 15px;
    border: 5px solid var(--Color3-hex);
    box-shadow: 0 14px 26px rgba(0,0,0,0.04);
    transition-duration: 500ms;
}
#input-search:focus{
    outline: none;
    box-shadow: 0 14px 26px rgba(0,0,0,0.14);
}

#icon-search{
    text-align: center;
    width: 48px;
    height: 100%;
    position: absolute;
    transform: translateX(-110%);

    color: #eee;
    background-color: var(--Color3-hex);
    cursor: pointer;
}

#icon-search > i {
    position: absolute;
    top: 50%;
    -ms-transform: translate(-40%,-50%);
    transform: translate(-40%,-50%);
    scale: 1.1;
}

.search-bar > button {
    display: none;
}

/* On search */
.search-container.searched{
    height: 25%;
    width: 100%;
    margin: 0;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.search-container.searched > img {
    margin-top: 0;
    width: 200px;
}
.search-container.searched .search-bar {
    width: 60%;
    margin-top: 37px;
} 

/* Responsive */
@media screen and (width <= 630px){
    main{
        width: 90vw;
    }
    .search-container {
        height: 80%;
        width: 80%;
        flex-direction: row;
    }
    .search-bar > #input-search {
        height: 48px;
    }
    .searchResult{
        margin-top: 25%;
    }

    .search-container.searched .search-bar {
        width: 90% !important;
    } 
}
@media all and (height <= 370px) {
    .search-container {
        height: 80%;
        width: 80%;
        flex-direction: row;
    }
}

